/* ======================================
Responsive Image gallery Style rules
======================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  padding: 40px 5%;
}

hr {
  margin-bottom: 2rem;
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

h1,h2,h3,h4,h5,h6 {
  color: 202020;
  font-family: 'Cinzel', serif;
}

h1 {
    padding-left: 1em;
    font-size: 3em;
}

h2,h3 {
    margin-bottom: 1rem;
}

h2 {
    font-size: 2em;
}

input {
  padding: 1em;
  width: 40%;
  border-color: grey;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  margin-left: 2em;
}

footer {
  padding: 2em 0;
  margin-top: 2em;
}

.heading-text {
  margin-bottom: 2rem;
}

.heading-text a {
  color: #202020;
  text-decoration: none;
}
/* add an underline on hover */
.heading-text a:hover {
  text-decoration: underline;
}
.heading-text span {
  font-weight: 100;
}

ul {
  list-style: none;
}

/* Responsive image gallery rules begin*/

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1.6em;
}

.image-gallery > li {
  flex-basis: 350px; /*width: 350px;*/
  position: relative;
  cursor: pointer;
}

.image-gallery::after {
  content: "";
  flex-basis: 350px;
}

.image-gallery li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 5px;
  /* center overlay text */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.overlay a {
  color: #fff;
  text-decoration: none;
}

/* hover */
.image-gallery li:hover .overlay {
  transform: scale(1);
}

#jumbo {
    width: auto;
    margin-bottom: 2rem;
}

#jumbo img {
    width: 100%;
    height: auto;
    object-fit: fill;
}

.interview-column {
    width: 60%;
}

.interview-inset-images {
    margin: 4em 0;
}

.interview-image {
    margin-right: 4em;
}

.interview-heading {
    margin-bottom: 0;
}

/* 'light' is a grey and italic text */
.light {
    color: #808080;
    font-style: italic;
    margin-bottom: 2em;
}

#mc_embed_shell {
    margin: 2em 0;
}

#mc-embedded-subscribe {
  width: 10%;
  margin-left: 0;
  margin-top: 2em;
  color: black;
}

/* foot navigation */
.foot-nav {
    /* display: flex;
    justify-content: space-between; */
    margin-top: 2em;
}
.foot-nav li {
  float: left;
  margin-right: 1em;
}
.foot-nav li.social {
  float: right;
  margin-right: 0;
  margin-left: 1em;
}
/* footer links should be in a row and minimal styling */
nav a {
    color: #202020;
    text-decoration: underline;
    font-size: 1em;
}

.mobile-foot-nav {
    display: none;
}

@media (max-width: 768px) {
    h1 {
        padding-left: 0;
    }
    .interview-column {
        width: 100%;
    }
    .interview-image {
        width: 90%;
    }
    .interview-image-lg {
        display: none;
    }
    #mc-embedded-subscribe {
        width: 100%;
    }
    #mce-EMAIL {
        width: 100%;
        margin: 0;
    }
    .hide-mobile {
      display: none;
    }
    .mobile-foot-nav {
        display: block;
    }
    .mobile-foot-nav li {
      margin-top: 0.5em;
    }
}